<!DOCTYPE html>
<html>
<head>
	<title>Random Survey</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style>
	/* https://rainbowcoding.com/how-to-create-rainbow-text-in-html-css-javascript/ */

	.rainbow {
	  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
	  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
	  color:transparent;
	  -webkit-background-clip: text;
	  background-clip: text;
	}

	body {
		background: black;
		color: white;
	}
</style>
</head>
<body>
	<header class="container">
		<div class="row">
			<div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-10 col-md-10 col-lg-10">
				<div class="page-header">
				  <h1 class="rainbow">Here's My Node App <small class="rainbow">hire me maybe</small></h1>
				</div>
			</div>	
		</div>
	</header>
	<div class="container">
		<form method="post" action="/answer_question">
			<div class="row">

				<div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-10 col-md-10 col-lg-10">
					<h1 class="text-center">SumoMe Survey</h1>
					<p class="text-center"><%= question.text %></p>
				</div>	
			</div>
			<div class="row">
				<div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-sm-6 col-md-6 col-lg-6">
					<input type="hidden" name="question" value="<%= question.id %>">
					<% for(i = 0; i < answers.length; i++) { %>
					<div class="radio">
					  <label>
					    <input type="radio" name="answer" id="<%= answers[i].id %>" value="<%= answers[i].id %>">
					    <%= answers[i].text %>
					  </label>
					</div>
					<% } %>
				</div>
				<div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-sm-6 col-md-6 col-lg-6">
					<button class="btn btn-block btn-danger">Submit</button>
				</div>
			</div>
		</form>
	</div>

</body>
</html>