<% include ../../layout/header %>
	<div class="container">
		<div class="row">
			<div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-10 col-md-10 col-lg-10">
				<form>
					<div class="form-group">
						<h1>Question</h1>
						<input name="text" question-id="<%= question.id %>" type="text" class="form-control" value="<%= question.text %>">
					</div>
					<h1>Choices</h1>
					<% if(choices.length === 0) { %>
					<% var choice = {'id': 'new', 'text': ''}; %>
					<% var choices = [choice, choice]; %>
					<% } %> 
					<% choices.forEach(function(choice) { %>
					<div class="form-group">
						<input name="choices[]" class="choice" choice-id="<%= choice.id %>" type="text" class="form-control" value="<%= choice.text %>">
						<button type="button" class="btn btn-danger delete">DELETE</button>
					</div>
					<% }) %>
					
					<div class="form-group">
						<button id="add-choice" type="button" class="btn btn-block btn-info">ADD CHOICE</button>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-block btn-success">SAVE</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		$(function() {

			$('form').submit(function(e) {
				e.preventDefault();
				e.stopPropagation();

				save();

				redirect();
			});

			var saveQuestion = function() {
				$.ajax({
					url: '/question/<%= question.id %>',
					method: 'PUT',
					async: false,
					data: 'text='+encodeURIComponent($('[name=text]').val())
				});
			};

			var saveChoices = function() {
				var choices = {'choices': []},
					questionId = $('[name=text]').attr('question-id'),
					id,
					text;

				$('.choice').each(function(key, val) {
					
					id = $(val).attr('choice-id');
					text = $(val).val();
					if(text === '') {
						return true;
					}

					choices.choices.push({
						id: id,
						question_id: questionId,
						text: text
					});

					console.log(choices);
				});

				// update choice-id after saving

				$.ajax({
					url: '/choice',
					method: 'POST',
					dataType: 'json',
					contentType: 'application/json; charset=utf-8',
					data: JSON.stringify(choices),
					async: false
				});
			};

			var save = function() {
				saveQuestion();
				saveChoices();
			};

			var redirect = function() {
				window.location='/admin';
			};


			$('#add-choice').click(function() {
				$('.form-group:nth(1)')
					.clone(true)
					.insertAfter('.form-group:nth(-3)')
					.find('input')
					.attr('choice-id','new')
					.attr('value','')
					.val('');

				logChoices();
				return false;
			});

			var deleteChoice = function(id) {
				$.ajax({
					url: '/choice/'+id,
					method: 'DELETE',
				}).success(function() {
					$('[choice-id='+id+']').parent().remove();
				})
			};

			$('.delete').click(function() {

				if($('.choice').length <= 2) {
					console.log('Need at least 2 choices');
					return false;
				}

				var id = $(this).prev().attr('choice-id');

				if(id === 'new') {
					$(this).parent().remove();
				} else {
					deleteChoice(id);
				}
			});
		});
	</script>
	<style>
		.choice {
			width: 80%;
			display: inline-block;
		}

		.delete {
			display: inline-block;
			width: 18%;
		}
	</style>
<% include ../../layout/footer %>